body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.container--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}
/* ///////// card \\\\\\\\\ */

.card {
  width: 25%;
  height: 40%;
}

.card__imagen {
  width: 100%;
  height: 100%;
}
.card__imagen img {
  width: inherit;
  height: inherit;
}