@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:wght@300&display=swap');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #F2FFE9;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.container--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}
/* ///////// card \\\\\\\\\ */

.card {
  width: 25%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card--contours {
  padding: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card__imagen {
  width: 100%;
  height: 100%;
}
.card__imagen img {
  width: inherit;
  height: inherit;
}

.card__content {
  width: 100%;
  height: 40%;
  backdrop-filter: blur(5px);
  position: absolute;
}

.card__content-y-down {
  transform: translateY(100%);
  transition: all .4s;
}
.card:hover .card__content-y-down {
  transform: translateY(0%);
}

.card__content--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////// utils \\\\\\ */

.bottom-0 { bottom: 0; }

.overflow-hidden { overflow: hidden; }
